.page {
  width: 100%;
  height: 100vh;
  .bg-image {
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
}

.content {
  width: 56vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  @media (max-width: 767px) {
    display: none;
  }
  .video {
    @media (max-width: 767px) {
      display: none;
    }
  }
  .user {
    width: 28vw;
    float: left;
    padding: 13vw 0 0 4.8vw;
    .avatar {
      width: 6.8vw;
      border-radius: 50%;
      border: 3px solid #ffffff;
    }
    p {
      padding-top: 20px;
      margin: 0;
      font-family: PoppinsSemiBold;
      font-size: 24px;
      line-height: 20px;
      font-weight: 600;
      font-style: normal;
      color: #ffffff;
    }
    .storeimg {
      margin-top: 20px;
      height: 71px;
      width: 240px;
    }
  }
}
.mobile {
  @media (min-width: 768px) {
    display: none;
  }
  .video {
    @media (min-width: 768px) {
      display: none;
    }
  }
  .userinfo {
    padding: 10px;
    .avatar {
      width: 40px;
      border-radius: 50%;
    }
    .username {
      padding-left: 12px;
      font-family: PoppinsSemiBold;
      font-size: 16px;
      color: #fff;
    }
    a {
      float: right;
      font-family: PoppinsSemiBold;
      font-size: 14px;
      color: #fff;
      padding: 7px 24px;
      background: linear-gradient(
        67.75deg,
        #ff8c3d -12.47%,
        #ff616e 62.18%,
        #ba14ff 173.67%
      );
      border-radius: 26px;
    }
  }
}
.video {
  width: 28vw;
  float: left;
  height: 100vh;
  position: relative;

  @media (max-width: 767px) {
    float: none;
    width: auto;
    height: calc(100vh - 65px);
    text-align: center;
  }
  video {
    width: 28vw;
    height: 100vh;
    object-fit: cover;
    @media (max-width: 767px) {
      height: calc(100vh - 65px);
      width: auto;
      margin: auto;
    }
  }
  .play {
    //New-Css
    position: fixed;
    top: 45%;
    width: 100%;
    text-align: center;
    width: 28vw;
    @media (max-width: 767px) {
      top: 45%;
      left: auto;
      width: 96%;
      text-align: center;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      width: 89%;
    }
  }

  .video-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background: linear-gradient(
      180.78deg,
      rgba(20, 20, 20, 0) 0.67%,
      #141414 99.32%
    );
    width: 28vw;
    @media (max-width: 767px) {
      padding: 10px 35px;
      width: 100%;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      padding: 10px 22px;
      width: 91%;
      bottom: 95px;
    }
    @media only screen and (device-width: 411px) and (device-height: 823px) and (-webkit-device-pixel-ratio: 3.5) {
      padding: 10px 21px;
      width: 100%;
      bottom: 36px;
    }

    .video-footer-left {
      display: flex;
      align-items: center;
      img {
        height: 50px;
        object-fit: contain;
        vertical-align: middle;
        border-radius: 50%;
        border: 2px solid #ffffff;
        margin-right: 8px;
      }
      .userinfo {
        h4 {
          font-family: PoppinsMedium;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          color: #ffffff;
          text-align: start;
          margin: 0;
          @media (max-width: 767px) {
            font-size: 12px;
            line-height: 11px;
          }
        }
        p {
          font-family: PoppinsMedium;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          text-align: start;
          margin: 0;
          @media (max-width: 767px) {
            font-size: 10px;
          }
        }
      }
    }
    .heart {
      width: 50px;
    }
  }
}
