.content {
  width: 56vw;
  height: 44vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @media (max-width: 767px) {
    display: none;
  }
  .video {
    @media (max-width: 767px) {
      display: none;
    }
  }
  .user {
    width: 28vw;
    float: left;
    padding: 13vw 0 0 7.8vw;
    .avatar {
      width: 7.8vw;
      border-radius: 50%;
    }
    p {
      padding-top: 15px;
      margin: 0;
      font-family: PoppinsSemiBold;
      font-size: 1.87vw;
      color: #fff;
    }
    .storeimg {
      width: 18.75vw;
      margin-top: 15px;
    }
  }
}
.mobile {
  @media (min-width: 768px) {
    display: none;
  }
  .video {
    @media (min-width: 768px) {
      display: none;
    }
  }
  .userinfo {
    padding: 10px;
    .avatar {
      width: 40px;
      border-radius: 50%;
    }
    .username {
      padding-left: 12px;
      font-family: PoppinsSemiBold;
      font-size: 16px;
      color: #fff;
    }
    a {
      float: right;
      font-family: PoppinsSemiBold;
      font-size: 14px;
      color: #fff;
      padding: 7px 24px;
      background: linear-gradient(
        67.75deg,
        #ff8c3d -12.47%,
        #ff616e 62.18%,
        #ba14ff 173.67%
      );
      border-radius: 26px;
    }
  }
}
.video {
  width: 28vw;
  float: left;
  height: 43vw;
  position: relative;
  @media (max-width: 767px) {
    float: none;
    width: auto;
    height: calc(100vh - 65px);
    text-align: center;
  }
  video {
    width: 28vw;
    height: 43vw;
    @media (max-width: 767px) {
      height: calc(100vh - 65px);
      width: auto;
      margin: auto;
    }
  }
  .play {
    position: relative;
    top: -24vw;
    left: 12vw;
    @media (max-width: 767px) {
      top: -50vh;      
      left: auto;
    }
  }
  .bottommark {
    padding: 1.3vw 3vw;
    position: absolute;
    top: calc(43vw - 105px);
    @media (max-width: 767px) {      
      padding: 1.3vw 3vw;
      top: calc(100vh - 165px);
    }
    .avatar {
      width: 3.4vw;
      border-radius: 50%;
      @media (max-width: 767px) {
        width: 37px;
      }
    }
    .heart {
      width: 4.2vw;
      @media (max-width: 767px) {
        width: 44px;
      }
    }
    .userinfo {
      display: inline-block;
      padding-left: 10px;
      position: relative;
      top: 1.01vw;
      width: 65%;
      @media (max-width: 767px) {
        top: 15px;
        position: relative;
      }
      h4 {
        font-family: PoppinsMedium;
        font-size: 1vw;
        color: #fff;
        margin: 0;
        @media (max-width: 767px) {
          font-size: 13px;
          text-align: left;
        }
      }
      p {
        font-family: PoppinsMedium;
        font-size: 0.9vw;
        color: #fff;
        padding-top: 4px;
        margin: 0;
        @media (max-width: 767px) {
          font-size: 11px;
          text-align: left;
        }
      }
    }
  }
}
